@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
    color: #323232;
    background-color: #fdfdfd;
    overflow: hidden;
}

header {
    background-color: #c19578;
    padding: 5px;
    margin-bottom: 30px;
}
