<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Set meta properties -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Penny-fyt</title>
		
		<!-- Styles -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:600" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<!-- AngularJS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

		<!-- Firebase -->
		<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>

		<!-- AngularFire -->
		<script src="https://cdn.firebase.com/libs/angularfire/2.0.2/angularfire.min.js"></script>
		
		<!-- Scripts -->
		<link href="penny.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="https://unpkg.com/tachyons@4.5.3/css/tachyons.min.css"/>
		<script type="text/javascript" src="penny.js"></script>
<script>
  // Initialize Firebase
  // TODO: Replace with your project's customized code snippet
  var config = {
    apiKey: "AIzaSyDeKkdADM8ybE_etN7XwiyrA-tfSWVozi4",
    authDomain: "penny-fyt-123.firebaseapp.com",
    databaseURL: "https://penny-fyt-123.firebaseio.com"
    // storageBucket: "<BUCKET>.appspot.com",
    // messagingSenderId: "<SENDER_ID>",
  };
  firebase.initializeApp(config);
</script>
<!-- <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.0/firebase-auth.js"></script> -->

	</head>

	<!-- Initiate app and controller on body -->
	<body ng-app="myApp" ng-controller="myCtrl">
		 <!-- <input type="text" ng-model="data.text"/> -->
    	<!-- all changes from our Firebase database magically appear here! -->
    	<!-- <h1>You said: {{ data.text }}</h1> -->
		<header>
			<div class="circle"></div>
		</header>

		<div class="invis">
			<div class="div-circles">
				<div class="b-circle"></div>
			</div>
			<section class="whatever"> <!--class="mw6 mt3 center bg-white pa3"-->
				<div class="post">
					<h1>Pewdiepie</h1>
					<p>Eat from dog's food going to catch the red dot today going to catch the red dot today leave fur on owners clothes. Chase mice meow for food, then when humans fills food dish, take a few bites of food and continue meowing lie on your belly and purr when you are asleep chirp at birds</p>
				</div>
				<div class="writeComment">
					<p>Write a comment:</p>
					<textarea>Type something...</textarea>
					<button>Post</button>
				</div>
				<div class="comment">
					<p class="c-name">Dan Hoksdfnal</p>
					<p class="c-paragraph">Chase mice meow for food, then when human fills food dish.</p>
				</div>
				<div class="comment">
					<p class="c-name">Jane Doe</p>
					<p class="c-paragraph">Chase mice meow for food, then when human fills food dish.</p>
				</div>
			</section>
		</div>

	    <ul>
	      <li ng-repeat="message in messages">
	        <!-- edit a message -->
	        <input ng-model="message.text" ng-change="messages.$save(message)" />
	        <!-- delete a message -->
	        <button ng-click="messages.$remove(message)">Delete Message</button>
	      </li>
	    </ul>
	    <!-- push a new message onto the array -->
	    <form ng-submit="addMessage()">
	      <input ng-model="newMessageText" />
	      <button type="submit">Add Message</button>
	    </form>
	</body>
</html>






