html {
    
}

body {
    font-family: 'Open Sans', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: geometricPrecision !important;

    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0;
    color: #323232;
    /*background-color: #FAFAFA;*/
    background-color: rgba(131, 56, 21, .11);
    overflow: scroll;
}

h1, h2, h3, h4, h5, h6, .worksans {
  font-family: 'Work Sans', sans-serif;
}

textarea {
  border: none !important;
    overflow: auto !important;
    outline: none !important;
    padding: 0 !important;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

nav {
    background-color: #8D6E63;
    height: 6rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 30px;
    text-align: right;
}

.head-circle, .s-circle {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: gray;
}

.container {
	/*margin-left: auto;
	margin-right: auto;*/
	/*width: 600px;*/
  padding: 0;
}

ul {
	list-style: none;
	padding: 0;
}

.buttons {
  margin-left: -1.9rem;
  margin-top: 1.3rem;
}

.like {
  background-image: url("icons/like.svg");
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem; 
}

.like:hover {
  background-image: url("icons/like_active.svg");
}

.save {
  background-image: url("icons/save.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 4rem;
  width: 4rem; 
}

.save:hover {
  background-image: url("icons/save_active.png");
}

.postAvatar {
  margin-left: -4.3rem;
  margin-top: -1.5rem;

}

.posts {
  position: relative;
}

.absolute {
  position: absolute;
}

.name {
  background: #FF6300;
  min-width: 100%;

  /*padding: 7px 0 7px 21px;*/
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.postpara {
  padding-left: 5rem;
}

.commentSection {
  background: rgba(216,100,46,0.18);
}

.postComment {
  margin-top: -1.5rem;
  margin-right: -1rem;

  color: white;
  border: none;
}

.postContent {
  /*position: absolute;*/
  /*right: 0;*/
  /*left: 35px;*/
  /*width: auto !important;*/
}

a.hoverNone:hover {
  /*text-decoration: none !important;*/
  color: #FF6300 !important;
}

.writeComment {
/*background: rgba(216,100,46,0.18);
border: 1px solid #D8642F;*/

background: white;
}

.md-button {
	background: #BDBDBD;
  padding: 0 6px 0 6px;
  margin: 6px 0px 6px 0px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  /*text-align: center;*/
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
  color: white;
}

li {
	background-color: #F5F5F5;
	padding: 20px;
	margin-top: 10px;
}

.posts {
	clear:both;
}

#addPost {
	background-color: #F5F5F5;
	padding: 2rem;
}

.commenter {
	font-size: 8px;
}
